albumentations==1.4.18
einops==0.8.1
h5py==3.11.0
lightning==2.3.3
matplotlib==3.5.3
numpy==1.24.4
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.0.3
Pillow==11.3.0
pydicom==3.0.1
pytorch_lightning==2.3.3
pytorch_msssim==1.0.0

PyYAML==6.0.2
scipy==1.16.2

SimpleITK==2.5.2
scikit-image==0.21.0
torch==2.3.1+cu121
torchsummary==1.5.1
torchvision==0.18.1+cu121
tqdm==4.66.4
transformers==4.56.2
